.titre_roller{
    background-color: #0D0D0D;
    color: white;
    padding: 1rem;
}
.block_image_accueil{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
    border-radius: 15px;
}
.block_image_accueil img{
    /* width: 80vw; */
    padding: 1.6rem;
    object-fit: cover;

}